<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537621556232-48vr48nmg7f0s1q6noinqpohp9ome3r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537621556232-48vr48nmg7f0s1q6noinqpohp9ome3r3</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ6dYuhpxzLdO5r-IKs1cNEQCCdfSx1l8</string>
	<key>GCM_SENDER_ID</key>
	<string>537621556232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.or.hansalim.shop</string>
	<key>PROJECT_ID</key>
	<string>hansalimshop-83c3c</string>
	<key>STORAGE_BUCKET</key>
	<string>hansalimshop-83c3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537621556232:ios:d51e5c23c03c03590475bd</string>
</dict>
</plist>